# See http://help.github.com/ignore-files/ for more about ignoring files.

# Logs
logs
*.log
npm-debug.log*

# dependencies
node_modules
bundle.js

# testing
coverage

# production
build

# misc
.DS_Store
.env
npm-debug.log
dist
public/profilePics
client/assets/bundle.js

neo4jContainer
